<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%= pageTitle %></h2>
<!--    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">-->
                <form class="form" method="post" action="<%=formAction%>" novalidate>
        <input type="hidden" name="Id_StanWMagazynie" value="<%= swm.Id_StanWMagazynie %>">
        <label for="Ksiazka_Id_Ksiazka">Książka:<abbr title="required" aria-label="required">*</abbr></label>
        <select name="Ksiazka_Id_Ksiazka" id="Ksiazka_Id_Ksiazka" <%= (formMode == 'showDetails') ? 'disabled' : ''%> >
            class="<%= validationErrors.find(e => e.path.includes('Ksiazka_Id_Ksiazka')) ? 'error-input' : '' %>"
            <option value="">-- Wybierz książkę --</option>
            <% for (let i=0; i<allKs.length; i++) { let ks = allKs[i]; %>
            <option value="<%= ks.Id_Ksiazka %>" label="<%= ks.Tytul %>"
                    <%= (swm.Id_StanWMagazynie && ks.Id_Ksiazka.toString() == swm.ksiazka.Id_Ksiazka.toString()) ? 'selected' : ''%>></option>
            <% } %>
        </select>
        <span id="errorKsiazka_Id_Ksiazka" class="errors-text"></span>
        <label for="Magazyn_Id_Magazyn">Magazyn:<abbr title="required" aria-label="required">*</abbr></label>
        <select name="Magazyn_Id_Magazyn" id="Magazyn_Id_Magazyn" <%= (formMode == 'showDetails') ? 'disabled' : ''%> >
            class="<%= validationErrors.find(e => e.path.includes('Magazyn_Id_Magazyn')) ? 'error-input' : '' %>"
            <option value="">-- Wybierz magazyn --</option>
            <% for (let i=0; i<allMag.length; i++) { let mag = allMag[i]; %>
            <option value="<%= mag.Id_Magazyn %>" label="<%= mag.Nazwa %>"
                    <%= (swm.Id_StanWMagazynie && mag.Id_Magazyn.toString() == swm.magazyn.Id_Magazyn.toString()) ? 'selected' : ''%>></option>
            <% } %>
        </select>
        <span id="errorMagazyn_Id_Magazyn" class="errors-text"></span>
        <label for="IloscNaStanie">Ilość na stanie:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="IloscNaStanie" id="IloscNaStanie" value="<%= swm.IloscNaStanie %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e => e.path.includes('IloscNaStanie')) ? 'error-input' : '' %>"
        />
        <span id="errorIloscNaStanie" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('IloscNaStanie'))) { %>
                <%= validationErrors.find(e => e.path.includes('IloscNaStanie')).message %>
            <% } %>
        </span>
        <label for="CenaHurtowa">Cena hurtowa:</label>
        <input type="number" name="CenaHurtowa" id="CenaHurtowa" step="any" value="<%= swm.CenaHurtowa %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e => e.path.includes('CenaHurtowa')) ? 'error-input' : '' %>"
        />
        <span id="errorCenaHurtowa" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('CenaHurtowa'))) { %>
                <%= validationErrors.find(e => e.path.includes('CenaHurtowa')).message %>
            <% } %>
        </span>
        <label for="MinimalnaIloscDoCenyHurtowej">Minimalna ilość zamówienia potrzebna do naliczenia ceny hurowej:</label>
        <input type="number" name="MinimalnaIloscDoCenyHurtowej" id="MinimalnaIloscDoCenyHurtowej" value="<%= swm.MinimalnaIloscDoCenyHurtowej %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e => e.path.includes('MinimalnaIloscDoCenyHurtowej')) ? 'error-input' : '' %>"
        />
        <span id="errorMinilamnaIloscDoCenyHurtowej" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('MinimalnaIloscDoCenyHurtowej'))) { %>
                <%= validationErrors.find(e => e.path.includes('MinimalnaIloscDoCenyHurtowej')).message %>
            <% } %>
        </span>
        <label for="CenaDetaliczna">Cena detaliczna:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="number" name="CenaDetaliczna" id="CenaDetaliczna" step="any" value="<%= swm.CenaDetaliczna %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e => e.path.includes('CenaDetaliczna')) ? 'error-input' : '' %>"
        />
        <span id="errorCenaDetaliczna" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('CenaDetaliczna'))) { %>
                <%= validationErrors.find(e => e.path.includes('CenaDetaliczna')).message %>
            <% } %>
        </span>
        <% if (formMode != 'showDetails') { %>
        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <input type="submit" class="form-button-submit" value="<%=btnLabel%>"/>
            <a href="/stanWMagazynie" class="form-button-cancel">Anuluj</a>
            <% } %>
        </div>
    </form>
    <% if (formMode == 'showDetails') { %>
        <p><a href="/stanWMagazynie/edit/<%= swm.Id_StanWMagazynie %>" class="list-actions-button-edit">Edytuj</a></p>
        <p><a href="/magazyn" class="list-actions-button-details">Powrót</a></p>
    <% } %>
</main>
<%- include('../../fragments/footer.ejs') %>