<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%= __('swm.list.pageTitle') %></h2>
    <table class="table-list">
        <thead>
        <tr>
            <th><%= __('swm.list.fields.Ksiazka') %></th>
            <th><%= __('swm.list.fields.Magazyn') %></th>
            <th><%= __('swm.list.fields.IloscNaStanie') %></th>
            <th><%= __('swm.list.fields.CenaHurtowa') %></th>
            <th><%= __('swm.list.fields.MinimalnaIloscDoCenyHurtowej') %></th>
            <th><%= __('swm.list.fields.CenaDetaliczna') %></th>
            <th class="list-actions"><%= __('list.actions.title') %></th>
        </tr>
        </thead>
        <tbody>
        <% for (let swm of stanyWMagazynach) { %>
            <tr>
                <td><%= swm.ksiazka.Tytul %></td>
                <td><%= swm.magazyn.Nazwa %></td>
                <td><%= swm.IloscNaStanie %></td>
                <td><%= swm.CenaHurtowa ? swm.CenaHurtowa : 0 %></td>
                <td><%= swm.MinimalnaIloscDoCenyHurtowej ? swm.MinimalnaIloscDoCenyHurtowej : 0 %></td>
                <td><%= swm.CenaDetaliczna %></td>
                <td>
                    <ul class="list-actions">
                        <li><a href="/stanWMagazynie/details/<%=swm.Id_StanWMagazynie%>" class="list-actions-button-details"><%= __('list.actions.details') %></a></li>
                        <% if(loggedUser) { %>
                            <% if(swm.user.Id_User == loggedUser.Id_User || loggedUser.role.Name == 'Admin') { %>
                            <li><a href="/stanWMagazynie/edit/<%=swm.Id_StanWMagazynie%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a></li>
                            <% } %>
                        <% } %>
                        <% if(loggedUser) { %>
                            <% if(swm.user.Id_User == loggedUser.Id_User || loggedUser.role.Name == 'Admin') { %>
                            <li><a href="/stanWMagazynie/delete/<%=swm.Id_StanWMagazynie%>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a></li>
                            <% } %>
                        <% } %>
                    </ul>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <% if(loggedUser) { %>
    <p><a href="/stanWMagazynie/add" class="button-add"><%= __('swm.list.addNew') %></a></p>
    <% } %>
</main>
<%- include('../../fragments/footer.ejs') %>