<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Lista magazynów</h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>Magazyn</th>
            <th>Książka</th>
            <th>Ilość na stanie</th>
            <th>Cena hurtowa</th>
            <th>Minimalna ilość zamówienia potrzebna do naliczenia ceny hurowej</th>
            <th>Cena detaliczna</th>
            <th class="list-actions">Akcje</th>
        </tr>
        </thead>
        <% for (let swm of stanyWMagazynach) { %>
            <tr>
                <td><%= swm.ksiazka.Tytul %></td>
                <td><%= swm.magazyn.Nazwa %></td>
                <td><%= swm.IloscNaStanie %></td>
                <td><%= swm.CenaHurtowa ? swm.CenaHurtowa : 0 %></td>
                <td><%= swm.MinimalnaIloscDoCenyHurtowej ? swm.MinimalnaIloscDoCenyHurtowej : 0 %></td>
                <td><%= swm.CenaDetaliczna %></td>
                <td>
                    <ul class="list-actions">
                        <li><a href="/stanWMagazynie/details/<%=swm.Id_StanWMagazynie%>" class="list-actions-button-details">Szczegóły</a></li>
                        <li><a href="/stanWMagazynie/edit/<%=swm.Id_StanWMagazynie%>" class="list-actions-button-edit">Edytuj</a></li>
                        <li><a href="/stanWMagazynie/delete/<%=swm.Id_StanWMagazynie%>" class="list-actions-button-delete">Usuń</a></li>
                    </ul>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <p><a href="/stanWMagazynie/add" class="button-add">Dodaj stan książki w konkretnym magazynie</a></p>
</main>
<%- include('../../fragments/footer.ejs') %>