<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
<!--    <form class="form" method="post" action="<%=formAction%>" novalidate>-->
        <input type="hidden" name="Id_Ksiazka" value="<%= ks.Id_Ksiazka %>">
        <label for="Tytul">Tytuł:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="Tytul" placeholder="2-60 znaków" id="Tytul" value="<%= ks.Tytul %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorTytul" class="errors-text"></span>
        <label for="Autor">Autor:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="Autor" placeholder="2-60 znaków" id="Autor" value="<%= ks.Autor %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorAutor" class="errors-text"></span>
        <label for="DataWydania">Data wydania:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="date" name="DataWydania" placeholder="Data w formacie yyyy-MM-dd" id="DataWydania"
                <% if (formMode != 'createNew') { %>
                    value="<%= ks.DataWydania.toISOString().split('T')[0] %>"
                <% } %>
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorDataWydania" class="errors-text"></span>
        <% if (formMode != 'showDetails') { %>
        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <input type="submit" class="form-button-submit" value="<%=btnLabel%>" />
            <a href="/ksiazka" class="form-button-cancel">Anuluj</a>
        </div>
        <% } %>
    </form>
    <% if (formMode == 'showDetails') { %>
        <p><a href="/ksiazka/edit/<%= ks.Id_Ksiazka %>" class="list-actions-button-edit">Edytuj</a></p>
    <% } %>
    <% if (formMode == 'showDetails' || formMode == 'edit') { %>
        <h2>Szczegóły magazynu</h2>
        <table class="table-list">
            <thead>
            <tr>
                <th>Nazwa magazynu</th>
                <th>Ilość na stanie</th>
                <th>Cena hurtowa</th>
                <th>Minimalna ilość zamówienia potrzebna do naliczenia ceny hurowej</th>
                <th>Cena detaliczna</th>
            </tr>
            </thead>
            <tbody>
            <% for (let k of ks.stanyWMagazynach) { %>
                <tr>
                    <td><a href="/magazyn/details/<%= k.magazyn.Id_Magazyn %>"><%= k.magazyn.Nazwa %></a></td>
                    <td><%= k.IloscNaStanie %></td>
                    <td><%= k.CenaHurtowa %></td>
                    <td><%= k.MinimalnaIloscDoCenyHurtowej %></td>
                    <td><%= k.CenaDetaliczna %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <p><a href="/ksiazka" class="list-actions-button-details">Powrót</a></p>
    <% } %>
</main>
<%- include('../../fragments/footer.ejs') %>