<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
        <input type="hidden" name="Id_Magazyn" value="<%= mag.Id_Magazyn %>">
        <label for="Nazwa">Nazwa:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="Nazwa" placeholder="2-60 znaków" id="name" value="<%= mag.Nazwa %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorName" class="errors-text"></span>
        <label for="Adres">Adres:<abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="Adres" placeholder="np. ul. Gorka 15/67" id="Adres" value="<%= mag.Adres %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorAdress" class="errors-text"></span>
    </form>
    <% if (formMode == 'showDetails') { %>
        <p><a href="/magazyn/edit/<%= mag.Id_Magazyn %>" class="list-actions-button-edit">Edytuj</a></p>
    <% } %>
    <% if (formMode == 'showDetails' || formMode == 'edit') { %>
        <h2>Szczegóły książek</h2>
        <table class="table-list">
            <thead>
            <tr>
                <th>Tytuł książki</th>
                <th>Ilość na stanie</th>
                <th>Cena hurtowa</th>
                <th>Minimalna ilość zamówienia potrzebna do naliczenia ceny hurowej</th>
                <th>Cena detaliczna</th>
            </tr>
            </thead>
            <tbody>
            <% for (let m of mag.stanyWMagazynach) { %>
                <tr>
                    <td><a href="/ksiazka/details/<%= m.ksiazka.Id_Ksiazka %>"><%= m.ksiazka.Tytul %></a></td>
                    <td><%= m.IloscNaStanie %></td>
                    <td><%= m.CenaHurtowa %></td>
                    <td><%= m.MinimalnaIloscDoCenyHurtowej %></td>
                    <td><%= m.CenaDetaliczna %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>
    <div class="form-buttons">
        <p id="errorsSummary" class="errors-text"></p>
        <% if (formMode != 'showDetails') { %>
            <input type="submit" class="form-button-submit" value="Dodaj" />
            <a href="/magazyn" class="form-button-cancel">Anuluj</a>
        <% } else { %>
            <a class="form-button-cancel" href="/magazyn">Powrót</a>
        <% } %>
    </div>
</main>
<%- include('../../fragments/footer.ejs') %>