<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
<!--    <form class="form" method="post" action="<%=formAction%>" novalidate>-->
        <input type="hidden" name="Id_Magazyn" value="<%= mag.Id_Magazyn %>">
        <% if(loggedUser) { %>
        <input type="hidden" name="User_Id_User" value="<%= loggedUser.Id_User %>">
        <% } %>
        <label for="Nazwa"><%= __('mag.form.fields.Nazwa') %><abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="Nazwa" placeholder="<%= __('mag.form.placeholders.Nazwa') %>" id="Nazwa" value="<%= mag.Nazwa %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e => e.path.includes('Nazwa')) ? 'error-input' : '' %>"
        />
        <span id="errorName" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Nazwa'))) { %>
                <%= validationErrors.find(e => e.path.includes('Nazwa')).message %>
            <% } %>
        </span>
        <label for="Adres"><%= __('mag.form.fields.Adres') %><abbr title="required" aria-label="required">*</abbr></label>
        <input type="text" name="Adres" placeholder="<%= __('mag.form.placeholders.Adres') %>" id="Adres" value="<%= mag.Adres %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e => e.path.includes('Adres')) ? 'error-input' : '' %>"
        />
        <span id="errorAdress" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Adres'))) { %>
                <%= validationErrors.find(e => e.path.includes('Adres')).message %>
            <% } %>
        </span>
        <% if (formMode != 'showDetails') { %>
        <div class="form-buttons">
            <% if (formMode == 'createNewErrors' || formMode == 'editErrors') { %>
                <p class="errors-text"><%= __('mag.form.errors.createNewOrEditErrors') %></p>
            <% } else { %>
                <p id="errorsSummary" class="errors-text"></p>
            <% } %>
            <input type="submit" class="form-button-submit" value="<%=btnLabel%>"/>
            <a href="/magazyn" class="form-button-cancel"><%= __('form.actions.cancel') %></a>
            <% } %>
        </div>
    </form>
    <div style="display: none">
        <span id="errorMessage-Errors"><%= __('validationMessage.Errors') %></span>
        <span id="errorMessage-required"><%= __('validationMessage.Required') %></span>
        <span id="errorMessage-between2and60"><%= __('validationMessage.Between2and60') %></span>
        <span id="errorMessage-correctAdress"><%= __('validationMessage.CorrectAdress') %></span>
    </div>
    <% if (formMode == 'showDetails' && loggedUser) { %>
        <p><a href="/magazyn/edit/<%= mag.Id_Magazyn %>" class="list-actions-button-edit"><%= __('form.actions.edit') %></a></p>
    <% } %>
    <% if (formMode == 'showDetails' || formMode == 'edit' || formMode == 'editErrors') { %>
        <h2><%= __('mag.form.details.subtitle') %></h2>
        <table class="table-list">
            <thead>
            <tr>
                <th><%= __('mag.form.details.fields.Ksiazka') %></th>
                <th><%= __('mag.form.details.fields.IloscNaStanie') %></th>
                <th><%= __('mag.form.details.fields.CenaHurtowa') %></th>
                <th><%= __('mag.form.details.fields.MinimalnaIloscDoCenyHurtowej') %></th>
                <th><%= __('mag.form.details.fields.CenaDetaliczna') %></th>
            </tr>
            </thead>
            <tbody>
            <% for (let m of mag.stanyWMagazynach) { %>
                <tr>
                    <td><a href="/ksiazka/details/<%= m.ksiazka.Id_Ksiazka %>"><%= m.ksiazka.Tytul %></a></td>
                    <td><%= m.IloscNaStanie %></td>
                    <td><%= m.CenaHurtowa ? m.CenaHurtowa : 0 %></td>
                    <td><%= m.MinimalnaIloscDoCenyHurtowej ? m.MinimalnaIloscDoCenyHurtowej : 0 %></td>
                    <td><%= m.CenaDetaliczna %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <p><a href="/magazyn" class="list-actions-button-details"><%= __('form.actions.return') %></a></p>
    <% } %>
</main>
<%- include('../../fragments/footer.ejs') %>