<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%= __('mag.list.pageTitle') %></h2>
    <table class="table-list">
        <thead>
        <tr>
            <th><%= __('mag.list.fields.Nazwa') %></th>
            <th><%= __('mag.list.fields.Autor') %></th>
            <th class="list-actions"><%= __('list.actions.title') %></th>
        </tr>
        </thead>
        <tbody>
        <% for (let mag of magazyny) { %>
            <tr>
                <td><%= mag.Nazwa %></td>
                <td><%= mag.Adres %></td>
                <td>
                    <ul class="list-actions">
                        <li><a href="/magazyn/details/<%=mag.Id_Magazyn%>" class="list-actions-button-details"><%= __('list.actions.details') %></a></li>
                        <li><a href="/magazyn/edit/<%=mag.Id_Magazyn%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a></li>
                        <li><a href="/magazyn/delete/<%=mag.Id_Magazyn%>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a></li>
                    </ul>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <p><a href="/magazyn/add" class="button-add"><%= __('mag.list.addNew') %></a></p>
</main>
<%- include('../../fragments/footer.ejs') %>