<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Lista magazynów</h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Adres</th>
            <th class="list-actions">Akcje</th>
        </tr>
        </thead>
        <% for (let mag of magazyny) { %>
            <tr>
                <td><%= mag.Nazwa %></td>
                <td><%= mag.Adres %></td>
                <td>
                    <ul class="list-actions">
                        <li><a href="/employees/details/<%=mag.Id_Magazyn%>" class="list-actions-button-details">Szczegóły</a></li>
                        <li><a href="/employees/edit/<%=mag.Id_Magazyn%>" class="list-actions-button-edit">Edytuj</a></li>
                        <li><a href="/employees/delete/<%=mag.Id_Magazyn%>" class="list-actions-button-delete">Usuń</a></li>
                    </ul>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <p><a href="/magazyn/add" class="button-add">Dodaj nowy magazyn</a></p>
</main>
<%- include('../../fragments/footer.ejs') %>