<% if(!loggedUser) { %>
    <div id="login" class="logInDiv">
        <h2><%= __('authentication.title') %></h2>
        <form class="logging" method="post" action="/login" novalidate>
            <label for="loginEmail"><%= __('authentication.email') %></label>
            <input type="email" id="loginEmail" name="Email"/>

            <label for="loginPassword"><%= __('authentication.password') %></label>
            <input type="password" id="loginPassword" name="Password"/>
            <input type="submit" class="logIn-button" value="<%= __('authentication.actions.logIn') %>">
            <span id="loginErrors"><%= loginError ? loginError : ''%></span>
        </form>
    </div>
<% } else { %>
<div id="login" class="logInDiv">
    <span class="errors-text"><%= __('authentication.logOutInformation') %><%=loggedUser.Name + " " + loggedUser.Surname%></span>
    <a class="list-actions-button-delete" href="/logout"><%= __('authentication.actions.logOut') %></a>
</div>
<% } %>